<!-- Header -->
<h2 mat-dialog-title>{{ data.title }}</h2>

<!-- Body -->
<mat-dialog-content>
  <p>{{ data.message }}</p>
  <div [innerHTML]="data.html"></div>
</mat-dialog-content>

<!-- Actions -->
@if (data.actions?.length) {
  <mat-dialog-actions align="end">
    @for ( action of data.actions; track action) {
      <button
        mat-flat-button="action.variant === 'flat' || !action.variant"
        mat-stroked-button="action.variant === 'stroked'"
        mat-button="action.variant === 'basic'"
        [color]="action.color"
        (click)="onAction(action)"
      >
        {{ action.label }}
      </button>
    }
  </mat-dialog-actions>
}

