@if (!isMaintenance()) {
  @if (isMobile()) {
    <app-header></app-header>
    <router-outlet></router-outlet>
    <app-social-icons></app-social-icons>
  } @else {
    <ng-scrollbar visibility="hover">
      <app-header></app-header>
      <router-outlet></router-outlet>
      <app-social-icons></app-social-icons>
      <app-animated-cursor></app-animated-cursor>
    </ng-scrollbar>
  }
} @else {
  <router-outlet></router-outlet>
  @if (!isMobile()) {
    <app-animated-cursor></app-animated-cursor>
  }
}

