<header class="fixed-top site__header">
  <div class="d-flex align-items-center justify-content-between">
    <a class="navbar-brand nav_ac" routerLink="/">{{ logotext }}</a>
    <div class="d-flex align-items-center">
      <app-theme-toggle></app-theme-toggle>
      <button class="menu__button nav_ac" (click)="toggleMenu()">
        @if (isMenuOpen()) {
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><line x1="18" y1="6" x2="6" y2="18"/><line x1="6" y1="6" x2="18" y2="18"/></svg>
        } @else {
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><line x1="3" y1="12" x2="21" y2="12"/><line x1="3" y1="6" x2="21" y2="6"/><line x1="3" y1="18" x2="21" y2="18"/></svg>
        }
      </button>
    </div>
  </div>

  <div class="site__navigation" [class.menu__opend]="isMenuOpen()">
    <div class="bg__menu h-100">
      <div class="menu__wrapper">
        <div class="menu__container p-3">
          <ul class="the_menu">
            <li class="menu_item">
              <a routerLink="/" (click)="closeMenu()" class="my-3">Home</a>
            </li>
            <li class="menu_item">
              <a routerLink="/portfolio" (click)="closeMenu()" class="my-3">Portfolio</a>
            </li>
            <li class="menu_item">
              <a routerLink="/about" (click)="closeMenu()" class="my-3">About</a>
            </li>
            <li class="menu_item">
              <a routerLink="/contact" (click)="closeMenu()" class="my-3">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="menu_footer d-flex flex-column flex-md-row justify-content-between align-items-md-center position-absolute w-100 p-3">
      <div class="d-flex">
        <a [href]="socialprofils.facebook">Facebook</a>
        <a [href]="socialprofils.github">Github</a>
        <a [href]="socialprofils.twitter">Twitter</a>
      </div>
      <p class="copyright m-0">copyright __ {{ logotext }}</p>
    </div>
  </div>
</header>
